@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Montserrat:wght@300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@300;400;500;600&display=swap");

:root {
  --common-btn-color: #6346f9;
  --text-color: #646464;
  --properties-color: #f2f2f2;
}
* {
  font-family: "Josefin Sans";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.section-padding {
  margin-top: 6rem;
}

/* Start Header */

.navbar-brand,
.navbar-brand span {
  /* font-family: "rosmi"; */
  font-size: 31px;
  font-weight: normal;
  color: #363636;
}

.navbar-brand span {
  color: var(--common-btn-color);
}

.navbar-nav {
  font-size: 19px;
  font-weight: bold;
  text-align: left;
  color: var(--text-color);
}

.custom-btn {
  background-color: var(--common-btn-color);
  font-size: 18px;
  color: #ffffff;
}

.btn:hover {
  background-color: var(--common-btn-color);
}

.custom-nav-style {
  padding: 0px 20px !important;
}

.collapse .navbar-nav {
  align-items: center;
}

/* End Header */

.home {
  position: relative;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/Home.jpeg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.51);
  z-index: 0; /* يكون بالخلف */
}

.home > * {
  position: relative;
  z-index: 1; /* الأولاد يظهروا فوق */
}

.home-title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.home-text {
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
}

.info-box .lead {
  font-weight: normal;
  color: var(--text-color);
}

.lead > span,
.card-title {
  font-weight: 700;
  color: #434343;
}

.custom-col-style {
  border-inline-end: 5px solid var(--common-btn-color);
}

.brands > ul {
  display: flex;
  list-style: none;
  overflow-x: scroll;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 20px;
}
.brands > ul::-webkit-scrollbar {
  display: none;
}
.brands > ul > li {
  width: 100px;
  margin-right: 50px;
}

/* ------ Property Section ------ */

.property-title {
  font-weight: 700;
  font-size: 40px;
}

.card-title {
  margin-bottom: 2rem !important;
}

.price {
  font-size: 30px;
  font-weight: bold;
  color: var(--common-btn-color);
  margin: 0;
}

.custom-btn-style {
  background-color: var(--properties-color);
  border: none;
  color: #000000;
  width: 50%;
}

.custom-btn-style:hover {
  background-color: var(--common-btn-color);
  color: #ffffff !important;
}

.custom-property-card {
  border: none;
  background: white;
  text-align: left;
  margin-bottom: 3rem;
}

/* ---------- Agents Section ---------- */

.agents {
  background-color: #f7f6fb;
}
.custom-card-style {
  background-color: #f7f6fb;
  border: none;
  text-align: center;
  padding-bottom: 5rem;
}

.agents-title {
  font-size: 30;
  font-weight: bold;
  color: #1d1d1d;
  margin-top: 4rem;
}

/* ---------- About Section ---------- */

.about-title {
  font-size: 48px;
  font-weight: bold;
}

/* ---------- Rateing Section ---------- */

.rateing-card {
  background: white;
  border: none;
  filter: drop-shadow(0px 50px 49.5px rgba(31, 72, 93, 0.1));
  margin-bottom: 50px;
}

.rateing-card:hover {
  filter: drop-shadow(0px 100px 49.5px rgba(31, 72, 93, 0.2));
}

.rateing-title {
  font-size: 60px;
  margin-top: 3rem;
}

.star-rateing {
  display: flex;
  padding: 1.5rem;
}

.checked {
  margin-right: 4px;
  color: orange;
  margin-bottom: 10px;
}

.rateing-text {
  font-size: 16px;
  font-weight: normal;
  color: #9aaabf;
}

.rating-avatar {
  display: flex;
  align-items: center;
}

.rating-avatar > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.rating-avatar-name > p {
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  font-style: normal;
  text-align: left;
  color: #1e1c24;
}

.rating-avatar-name > span {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  font-style: normal;
  text-align: left;
  color: #b1aaaa;
}

/* ------Footer------ */

footer {
  background: url(../img/footer.jpeg) center center no-repeat;
  height: 100vh;
  background-size: cover;
  text-align: end;
  margin-top: 4.5rem;
  padding-top: 1.5rem;
}

.custom-title-style,
.custom-title-style > span {
  font-size: 48px;
}
.footer {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.end-text {
  color: #dbe1db;
  font-weight: 300;
}

.social-icons {
  display: flex;
  list-style: none;
}

.social-icons a {
  text-decoration: none;
  padding: 7px 11px;
  border-radius: 50%;
  background: #ff000000;
  border: 2px solid #fff;
  color: #fff;
  margin-left: 15px;
}

.social-icons a:hover {
  background-color: var(--common-btn-color);
  filter: drop-shadow(0px 3px 3.5px rgba(35, 84, 243, 0.37));
  color: #ffffff;
  border: 2px solid var(--common-btn-color);
}

/* Responsive */

/* ----- xs: أقل من 576px ----- */
@media (max-width: 575.98px) {
  .home-title {
    font-size: 32px;
  }
  .home-text {
    position: relative;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: normal;
    text-align: center;
  }
  .price {
    font-size: 18px;
  }
  .custom-btn-style {
    font-size: 14px;
  }
  .about-title {
    font-size: 28px;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  .about-text .lead {
    font-size: 16px;
  }
  .rateing-title {
    font-size: 36px;
    margin-top: 0rem;
  }
    footer .lead{
      font-size: 14px;
  }
}

/* ----- sm: 576px إلى 767.98px ----- */
@media (min-width: 576px) and (max-width: 767.98px) {
  .home-title {
    font-size: 36px;
  }
  .home-text {
    position: relative;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
  }
  .price {
    font-size: 20px;
  }
  .about-title {
    font-size: 32px;
    margin-top: 3rem;
  }
  .rateing-title {
    font-size: 48px;
    margin-top: 1.5rem;
  }
    footer .lead{
      font-size: 16px;
  }
}

/* ----- md: 768px إلى 991.98px ----- */
@media (min-width: 768px) and (max-width: 991.98px) {
  .home-title {
    font-size: 42px;
  }
  .home-text {
    position: relative;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
  }
  .price {
    font-size: 24px;
  }
  .custom-btn-style {
    font-size: 12px;
  }
  .about-title {
    font-size: 40px;
    margin-top: 3rem;
  }
  .rateing-title {
    font-size: 56px;
    margin-top: 3rem;
  }
  .custom-card-style img {
    max-height: 500px;
    object-fit: contain;
  }
  .about img {
    max-height: 600px;
    object-fit: contain;
  }
    footer .lead{
      font-size: 18px;
  }
}

/* ----- lg: 992px إلى 1199.98px ----- */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .home-title {
    font-size: 48px;
  }
  .home {
    height: 650px;
  }
  .home-text {
    position: relative;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
  }
  .price {
    font-size: 28px;
  }
}

/* ----- xl: 1200px إلى 1399.98px ----- */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .home-title {
    font-size: 52px;
  }
  .home {
    height: 600px;
  }
  .home-text {
    position: relative;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
  }
  .price {
    font-size: 30px;
  }
}

/* ----- xxl: 1400px فأكثر ----- */
@media (min-width: 1400px) {
  .home {
    height: 740px;
  }
  .home-title {
    font-size: 56px;
  }
  .home-text {
    position: relative;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
  }
  .price {
    font-size: 32px;
  }

}
